:root {
  --primary-text: #243f6a !important;
  --primary-bg: white !important;
  --secondary-text: #0096AB !important;
  --secondary-bg: #f6f5f57b !important;
}

body {
  color: var(--primary-text);
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
}

/*! CONTANTS */
.gradienttext {
  background: linear-gradient(to right, var(--secondary-text) 30%, var(--primary-text));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.x-btn-none {
  all: unset;
}

.x-text-secondary {
  color: var(--secondary-text);
}

.x-bg-primary {
  background-color: var(--secondary-text);
}

.x-bg-secondary {
  background-color: var(--secondary-bg);
}

.x-opacity {
  opacity: 0.75;
}

/*! HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 66px;
}


/* logo */
.logo-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

/*  NAV ICON */
.header-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.nav-icon-container {
  border-left: 1px solid grey;
}


/*  NAV LINK */
.x-nav-link {
  display: flex;
  gap: 1rem;
  height: 100%;
}


/* button */
.x-nav-link .nav-btn {
  height: calc(100%);
  position: relative;
}

/* header dropdown */
.x-nav-link .header-dropdown {
  height: 100%s;
}

.x-nav-link .header-dropdown:hover .nav-btn {
  color: var(--secondary-text);
}

.x-nav-link .header-dropdown .nav-btn::after {
  content: "";
  background-color: var(--secondary-text);
  height: 3px;
  display: block;
  width: 0%;
  border-radius: 10px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 0.2s ease-in-out;
}

.x-nav-link .header-dropdown:hover .nav-btn::after {
  width: 99%;
}

.x-nav-link .header-dropdown:active .dropdown-content {
  animation: Dropdown-content 0.2s ease-in;
}

.x-nav-link .header-dropdown:hover .dropdown-content {
  animation: Dropdown-content 0.2s ease-in;
}

@media (min-width:992px) {
  .x-nav-link .header-dropdown:active .dropdown-content {
    display: flex !important;
  }

  .x-nav-link .header-dropdown .dropdown-content {
    display: none !important;
  }

  .x-nav-link .header-dropdown:hover .dropdown-content {
    display: flex !important;
  }

  .x-nav-link .header-dropdown:hover .dropdown-content {
    animation: Dropdown-content 0.2s ease-in;
  }
}

/* DROPDOWN CONTENT ANIMATION */
@keyframes Dropdown-content {
  0% {
    transform: translate(-50%, 5%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

@keyframes DropdownContentOpen {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes DropdownContentClose {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(50%);
  }
}

.x-nav-link .header-dropdown .dropdown-content {
  position: fixed;
  max-height: 100vh;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  background-color: white;
  max-width: 768px;
  width: 100vw;
  border-bottom: 3px solid var(--secondary-text);
  padding-bottom: 30px;
  top: 66px;
  z-index: 1;
}


.header-overlay {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 66px);
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 66px;
  display: none;
  cursor: no-drop;
}

/* HEADER LINK */
.header-link {
  cursor: pointer;
}

.header-link .link-icon {
  font-size: 18px;
  scale: 1.2 1;
  overflow: hidden;
  width: 0px;
  transition: all 0.2s ease-in;
}

.header-link:hover .link-icon {
  width: 50px;
}

/* SEARCH CONTAINER */
.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  background-color: white;
  height: 66px;
  padding-left: 1rem;
  padding-right: 0.5rem;
  align-items: center;
  border-bottom: 1px solid grey;

}

.search-container input {
  all: unset;
  flex-grow: 1;
  height: 80%;
}

.search-container input::placeholder {
  font-size: 18px;
  /* Adjust the desired font size */
}

/* Search Animation */
@keyframes searchAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes searchAnimationclose {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* NAV LINK A */
.nav-a {
  color: var(--primary-text);
  opacity: 0.8;
}

.nav-a:hover {
  color: var(--secondary-text);
}


/*? HEADER AT LOW SCREEN */

@media (max-width:992px) {
  .header-overlay {
    display: none !important;
  }

  /* nav link */
  .x-nav-link {
    position: fixed;
    display: block;
    background-color: white;
    width: 100vw;
    height: calc(100vh - 66px);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    top: 66px;
    right: 0;
    padding: 0 0.6rem;
    padding-left: 1.6rem;
    padding-top: 1rem;
  }

  /* header dropdowns */
  .x-nav-link .header-dropdown {
    width: 100%;
  }

  /* button */
  .x-nav-link .nav-btn {
    height: 3.5rem;
    width: 100%;
    border-bottom: 1px solid grey !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .x-nav-link .header-dropdown:hover .nav-btn::after {
    bottom: -2%;
    left: 0%;
    width: 100%;
  }

  /* header-content */
  .x-nav-link .header-dropdown .dropdown-content {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: calc(100vh - 66px);
    overflow-y: auto;
    overflow-x: hidden;
    top: 66px;
    right: 0;
    padding: 0 1rem;
    max-width: 992px;
  }

  .x-nav-link .header-dropdown .dropdown-content .row {
    height: fit-content !important;
  }

  /* NAV LINK A */
  .nav-a {
    padding: 1.1rem 3px;
    border-bottom: 1px solid grey;
  }

}






/*! HERO SECTION */

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  position: absolute;
  left: 0;
  z-index: -1;
}

.hero-imgContainer {
  flex-grow: 1;
  position: relative;
  overflow-y: hidden;
}

.hero-btn {
  text-align: start !important;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 3rem !important;
}

.hero-btn .hero-icon {
  margin-left: 2px;
  animation: heroIconAnim 0.9s ease infinite;
}

@keyframes heroIconAnim {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(2rem);
    opacity: 0;
  }
}

/* trending */
.trend-link {
  cursor: pointer;
  padding-top: 2rem;
}

.trend-link .trend-icon {
  padding: 0px 5px;
}

.trend-link:hover .trend-icon {
  color: var(--secondary-text);
  animation: trendIconAnim 0.4s ease-in;
}

@keyframes trendIconAnim {
  0% {
    transform: translateX(-1.6rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/*! PAPS PAY */

.papspay-container {
  position: relative;
}

.papspay {
  border: 1px solid rgba(128, 128, 128, 0.248);
}

.papspay .papspay-line {
  position: absolute;
  bottom: 0;
}

.papspay .papspay-badge {
  background-color: var(--secondary-text);
  width: 5rem;
  text-align: center;
  color: white;
}


/*? PAPS PAY AT HIGH SCREEN */

@media (min-width:992px) {
  .papspay-container {
    padding: 0rem 8rem !important;
  }

  .papspay-line {
    transform: rotateZ(90deg);
    top: 5.05rem;
    right: 0;
  }

  .papspay-container {
    top: -50px;
    height: 100px;
  }

  .papspay {
    height: 200px;
  }
}


/*! BODY HEADER  */
.body-header {
  height: 50px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
  margin-top: 6rem;
  border-right: 1px solid rgba(128, 128, 128, 0.136);
}

.body-header-items {
  gap: 1rem;
  height: 100%;
}

.body-header .body-header-link {
  all: unset;
  color: var(--secondary-text);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.body-header-link-active::after {
  content: "";
  background-color: var(--secondary-text);
  height: 3px;
  display: block;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

@media (max-width:992px) {
  .body-header-items {
    gap: 0.6rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--secondary-text);
    background-color: #fff;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    top: 3.1rem;
    justify-content: left;
    border-top: 2px solid var(--secondary-text);
    z-index: -1;
    overflow: hidden;
  }

  .body-header .body-header-link {
    justify-content: left;
    padding: 0.4rem 0rem;
    color: var(--primary-text);
  }

  .body-header-link-active::after {
    display: none;
  }
}

/* BODY HEADER ANIMATION */

@keyframes bodyheaderOpen {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: fit-content;
    opacity: 1;
  }
}

@keyframes bodyheaderClose {
  0% {
    height: fit-content;
    opacity: 1;
  }

  100% {
    height: 0px;
    opacity: 0;
  }
}


/*! HOW IT WORKS */
.works-section {
  padding: 6rem 0rem;
}

.works-card {
  max-width: 19rem;
}

.works-card .works-icon {
  color: var(--primary-text);
  padding: 5px;
  border: 1px solid var(--primary-text);
  border-radius: 5%;
  position: relative;
  width: 3.6rem;
  margin: auto;
}

.works-card span {
  position: absolute;
  right: -0.6rem;
  bottom: -0.3rem;
  background-color: var(--primary-text);
  color: white;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*! PRODUCT AND FEATURE */

.product-section {
  padding-bottom: 4rem;
}

.product-section .carousel-item {
  min-height: 30rem;
  color: white;
  /* Set the text color to white */
  opacity: 0.8;
  /* Adjust the opacity to make the text more visible */
  padding: 10px;
  /* Add padding for better visibility */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.product-section .carousel-indicators {
  all: unset;
  position: absolute;
  top: -3.5rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  width: 100%;
}

.product-section .carousel-indicators li {
  all: unset;
  padding: 0.4rem 1rem;
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}

.product-section .carousel-indicators .active {
  background-color: var(--secondary-text);
  color: white;
}

.product-section .carousel-control-next-icon {
  animation: bounce 1s infinite;
}

.product-section .fa-chevron-right{
  animation: trendIconAnim 3s ease infinite;
}



@keyframes bounce {

  0%,
  100% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }
}



/* GET STARTED */

.getstarted-section {
  height: 250px;
  background-image: url(./asset/img/get.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  display: flex;
  align-items: center;
}


/*! FOOTER */

.x-footer-address p {
  margin: 2px;
}

.x-footer-address p span {
  font-weight: 600;
}